.community-posts {
  margin: 10px;
  color: var(--text-dark);
  background-color: var(--input-light);
  padding: 20px;
  border-radius: 4px;
  width: 100%;
}

.post {
  background-color: var(--input-hover-dark);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.community-logo {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 10px;
  border-radius: 50%;
}

.post-title {
  margin: 0;
  color: #d7dadc;
  font-size: 18px;
}

.post-info {
  display: flex;
  gap: 4px;
  font-size: 12px;
  color: var(--sub-text);
  margin-bottom: 10px;
}

.post-timestamp,
.post-likes,
.post-author {
  margin-bottom: 5px;
}

.post-content {
  color: #d7dadc;
  text-align: start;
}
.post:hover .post-title {
  text-decoration: underline;
}
